* {
    text-align: center;
    font: Arial, sans-serif;

}
.body {
    background-color: lightblue;
    height: 100%;
    width: 100%;
    font: 15px Arial, sans-serif;
}

.input {
    height:30px;
    width:300px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10p;
    font: 17px Arial, sans-serif;
}

.button {
    height:30px;
    width:50px;
    font: 17px Arial, sans-serif;
    margin-bottom: 20px;
}

.languages {

    font: 17px Arial, sans-serif;
}